@media only screen and (max-width: 480px) {
  body {
    background-color: lightblue;
  }
  header{
    flex-direction: column;
    height: 100vh;
  }
  section{
    width: 380px;
    margin: 0px;
    padding: 20px;
  }
  .logo{
    margin: 30px 0px;
  }
  nav ul{
    margin-top: 50px;
    flex-direction: column;
    
}
nav ul a{
    margin: 20px 0px;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    color: black;
    margin-left: 30px;
    transition: 0.3s;
}
/* #demo{
    display: block;
    cursor: pointer;
} */
/* #navigation{
    display: none;
} */
.inner-content {
    flex-direction: column;
}
.inner-content>*{
    flex: 1;
}
.left-content .top h1{
    width: 100%;
    font-size: 30px;
    line-height: 40px;
}
.left-content .top p{
    width: 100%;
    line-height: 30px;
}
.left-content .top button{
    width: 150px;
    padding: 8px 10px;
}
.logos{
    justify-content: center;
    margin: 40px 0px;
    width: 100%;
    flex-wrap: wrap;
}
.logos .num1{
    font-size: 17px;
    margin: 5px;
}
.right-content .main-img{
    width: 400px;
    height: 500px;
}
.right-inner-content .main-img img{
    width: 100%;
}
.services{
    width: 100%;
    flex-wrap: wrap;
}
.single-service{
    width: 150px;
    margin: 20px 0px;
    flex-direction: column;
}
.single-service .icon{
    width: 40px;
    height: 40px;
}
.single-service h5{
    font-size: 18px;
}
.facilites{
    flex-direction: column;
}
.facilites .left-side{
    width: 100%;
    order: 2;
}
.facilites .left-side img{
    width: 100%;
}
.facilites .right-side{
    order: 1;
    
}
.facilites .right-side .text-content{
    margin: 15px 0px 20px 0px;
}
.text-content h1{
    font-size: 28px;
    margin: 15px 0px;
}
.text-content ul{
    margin: 30px 0px;
}
.text-content ul li{
    font-size: 16px;
}
.all-content{
    background-color: aqua;
    flex-direction: column;
}
.left-content{
    order: 2;
}
.right-content{
    order: 1;
}
}